
*
{
	margin: 0;
	padding: 0;
	font-family: "Montserrat",sans-serif;
	list-style: none;
  
}

body
{
    font-family: monospace;
	  background-image: url("../img/1.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;

}


.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    
} 

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


h3{
	font-family: Monospace;
    text-align: left;
    font-size: 15px;
}


header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    /*height: 100vh; */
    background-size: cover;
    background-position: center;
}


.logo img
{
    width: 200px;
    height: auto;
}


.metro{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
}
.item{
  width: 100px;
  height: 100px;
  float: left;
  margin: 4px;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition: 0.8s;
 
   
  
  
}
.item:hover{
  transform: scale(0.9);
}
.item i{
	
  font-size: 36px;
  line-height: 90px;
  opacity: 0.8;
	
  
}
.item span{
	font-family: monospace;
  opacity: 0.8;
  position: justify;;
  bottom: 6px; 
  left: 6px;
  
 
  
}
.i1{
  background: #3498db;
  
  
}

.i2{
  background: #e74c3c;
  /*width: 208px; */
  
}

.i3{
  background: #2ecc71;
  
}

.i4{
  background: #009966;
}

.i5{
  background: #9b59b6;
}

.box{
	
    width: 320px;
    height: 320px;
    background: #F27D64;
    color: #fff;
	  position: absolute;
	  left: calc(55% - 50px);
	
	  border: 2px solid #cc0000;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
	
	
    top: 60%;
    /*left: 50%;*/
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px; */
}


.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


